$theme-red: #dd4057;
$lightred: #ff3355;
$orangered: #ff4433;
$orangeyellow: #ff7733;
$yellow: #ffaa33;

$midblue: #3081f2;
$blue: #3d2ee6;
$purple: #992ee6;

$green: #0abf9b;
$lightgreen: #0bd9b6;

$white: #fff;

$darkblue01: #272633;
$darkblue02: #313040;
$darkblue03: #3b394d;

$whiteblue: #f5f5fa;

$Golden: #d9a682;

$lightgray: #fafafa;

$linegray-1: rgba(233, 233, 233, 1);
$linegray-2: rgba(233, 233, 233, 1);
